<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Card & Buttons
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img src="./assets/images/axie.jpeg">
    <ion-card-content>
      <ion-card-title>
        Axie Everyday
      </ion-card-title>
      <p>Axie Everyday</p>
      <p>Axie Infinity has a total of 9 classes that have been released to the game. Three of these are special classes that do not have their own Body Parts (or Class Cards).</p>
      <ion-button color="tertiary">
        <ion-icon name="play"></ion-icon>
        Play now
      </ion-button>
      <ion-button color="danger">
        <ion-icon name="bulb"></ion-icon>
        Play later
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>