<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Grid & Image Component
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="./assets/images/danger.png">
      </ion-col>
      <ion-col>
        <img src="./assets/images/danger.png">
      </ion-col>
      <ion-col>
        <img src="./assets/images/danger.png">
      </ion-col>
      <ion-col>
        <img src="./assets/images/danger.png">
      </ion-col>
      <ion-col>
        <img src="./assets/images/danger.png">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img src="./assets/images/success.png">
      </ion-col>
      <ion-col>
        <img src="./assets/images/success.png">
      </ion-col>
      <ion-col>
        <img src="./assets/images/success.png">
      </ion-col>
      <ion-col>
        <img src="./assets/images/success.png">
      </ion-col>
      <ion-col>
        <img src="./assets/images/success.png">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img src="./assets/images/primary.png">
      </ion-col>
      <ion-col>
        <img src="./assets/images/primary.png">
      </ion-col>
      <ion-col>
        <img src="./assets/images/primary.png">
      </ion-col>
      <ion-col>
        <img src="./assets/images/primary.png">
      </ion-col>
      <ion-col>
        <img src="./assets/images/primary.png">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img src="./assets/images/warning.png">
      </ion-col>
      <ion-col>
        <img src="./assets/images/warning.png">
      </ion-col>
      <ion-col>
        <img src="./assets/images/warning.png">
      </ion-col>
      <ion-col>
        <img src="./assets/images/warning.png">
      </ion-col>
      <ion-col>
        <img src="./assets/images/warning.png">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
