<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      List, Items, Avatar, Badge
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-badge color="warning" slot="end">Unread</ion-badge>
      <ion-avatar slot="start">
        <img src="./assets/images/avatar.jpg">
      </ion-avatar>
      <ion-label>Juan dela Cruz</ion-label>
    </ion-item>
    <ion-item>
      <ion-badge color="dark" slot="end">Blocked</ion-badge>
      <ion-avatar slot="start">
        <img src="./assets/images/avatar.jpg">
      </ion-avatar>
      <ion-label>Jane Doe</ion-label>
    </ion-item>
    <ion-item>
      <ion-badge color="success" slot="end">Sent</ion-badge>
      <ion-avatar slot="start">
        <img src="./assets/images/avatar.jpg">
      </ion-avatar>
      <ion-label>John Paul</ion-label>
    </ion-item>
    <ion-item>
      <ion-badge color="danger" slot="end">Failed</ion-badge>
      <ion-avatar slot="start">
        <img src="./assets/images/avatar.jpg">
      </ion-avatar>
      <ion-label>Therese</ion-label>
    </ion-item>
    <ion-item>
      <ion-badge color="primary" slot="end">New</ion-badge>
      <ion-avatar slot="start">
        <img src="./assets/images/avatar.jpg">
      </ion-avatar>
      <ion-label>Louie Jake</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
